body {
  max-width: 80%;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

#main {
  padding-left: 10px;
  padding-right: 10px;
}

#title, h2 {
  text-align: center;
}

.small {
  font-size: 70%;
  color: #605d64;
}

#img-div {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
}

ul {
  list-style-type: none;
}

li {
  text-align: justify;
  margin-bottom: 10px;
}

#tribute-info p {
  padding-left: 40px;
}

#footer {
  float: right;
  margin-bottom: 40px;
}

.link, .link:hover, .link:visited, .link:active {
  text-decoration: none;
  color: #0662E5;
}

hr {
  margin-left: 40px;
}
